
This repository
Search
Pull requests
Issues
Marketplace
Explore
@iqans
Sign out
Watch 205
Star 2,176  Fork 480 Topshelf/Topshelf
Code  Issues 41  Pull requests 6  Projects 0  Wiki  Insights
Branch: develop Find file Copy pathTopshelf/src/SampleTopshelfService/log4net.config
585e0e4  on Oct 25, 2012
@phatboyg phatboyg Ensured that exceptions are propogated to the start of the service an…
1 contributor
RawBlameHistory
38 lines (36 sloc)  1.19 KB
﻿<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <appender name="ColoredConsoleAppender"
        type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="White" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="Cyan" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline" />
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="ColoredConsoleAppender" />
  </root>
</log4net>
